<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 seconds"
    ExpiresByType text/css "access plus 1800 seconds"
    ExpiresByType text/javascript "access plus 1800 seconds"
    ExpiresByType application/x-javascript "access plus 1800 seconds"
</IfModule>
<IfModule mod_headers.c>
    <FilesMatch "\\.(css|js)$">
        Header set Cache-Control "max-age=1800, public"
    </FilesMatch>
    Header unset ETag
    Header unset Last-Modified
</IfModule>